header:not(.home){
   @media all and ( max-width: 520px ){
    height: 340px !important;
  }
}
nav .sticky-background{
   @media all and ( max-width: 667px ){
      & > .left-nav a .nav-controls{
         height: 25px;
         left: 10px;
      }
      & > .right-nav a .nav-controls{
         height: 25px;
         right: 10px;
      }
   }
}

body, html {
  @media all and ( max-width: 768px ){
    &.open {
  		transform: translateX(100vw);
  	}
  }
}

@media all and ( max-width: 576px ){
  .menu-controls {
    transform: translateX(-50px);
  }
}

.menu-content {
   @media all and ( max-width: 768px ){
      width: 100vw;
      &.open {
        transform: translateX(-100vw);
      }
   }

   & .menu-grid {
      @media all and ( max-width: 768px ){
        & .menu-item {
          margin-bottom: 50px;
        }
      }

      @media all and ( max-width: 576px ){
        & .menu-item {
          & a {
            font-size: $font-size * 1.5;
          }
          & .design-work-button {
            transform: translateY(-8px);
          }
        }
      }
   }
}

.sub-menu-grid {
  @media all and ( max-width: 576px ){
    & .sub-menu-title {
      margin-bottom: 20px;
      & span {
        font-family: $youngserif-stack;
        font-weight: $regular;
        font-size: 24px;
        color: #FFF;
      }
    }
  }

  & .sub-item-container {
    @media all and ( max-width: 576px ){
      margin-bottom: 25px;
      & .sub-item {
        & img {
          width: 40px;
          height: 40px;
        }
      }

      & .sub-item-content {
        margin-left: 10px !important;
        & p {
          font-size: 18px !important;
        }
        & span {
          font-size: 16px !important;
        }
      }
    }
  }
}

section {
  @media all and (max-width: 425px) {
    margin-bottom: 50px;
  }
}

#page-header {
  @media all and (max-width: 1024px) {
    &.awards-header {
      padding: 110px 50px 0 50px;
    }
    &.faculty-directory-header {
      padding: 110px 50px 0 50px;
    }
  }
  @media all and (max-width: 768px) {
    padding: 90px 50px 0 50px;
    & h1 {
      font-size: 50px;
      line-height: 1.16;
      letter-spacing: 0px;
    }
    .credit-icon {
      width: 114px;
      height: 50px;
    }
  }
  @media all and (max-width: 600px) {
    &.awards-header {
      padding: 80px 20px 0 20px;
      .main-wrapper.page-header-wrapper {
        flex-direction: column;
        h1 {
          margin-bottom: 20px;
        }
      }
    }
  }
  @media all and (max-width: 425px) {
    &.faculty-directory-header {
      padding: 80px 20px 0 20px;
      .main-wrapper.page-header-wrapper {
        flex-direction: row;
        align-items: flex-end;
        img {
          margin-bottom: 15px;
        }
      }
    }
    padding: 80px 20px 0 20px;
    margin-bottom: 20px;
    .main-wrapper.page-header-wrapper {
      flex-direction: column;
      & h1 {
        font-size: 40px;
        line-height: 1.08;
        letter-spacing: -0.09px;
        margin-bottom: 15px;
      }
      .credit-icon {
        width: 103px;
        height: 45px;
      }
      .awards-icon {
        width: 111px;
        height: 49px;
      }
    }
  }
}

// #page-header.feature p:first-of-type{
//    @media all and ( max-width: 520px ){
//       margin-top: -40px;
//       max-width: 85%;
//    }
//    @media all and ( max-width: 768px ){
//       font-size: $font-size * 1.5;
//    }
//    @media all and ( max-width: 320px ){
//       font-size: $font-size * 1.25;
//    }
// }

header {
  @media all and (max-width: 768px) {
    height: 600px;
  }

   @media all and (max-width: 500px) {
     height: 400px;
   }
   & .header-wrapper {
      & > .header-container {
         @media all and (max-width: 1100px) {
            & > .school-name {
               font-size: 24px;
               letter-spacing: 2.22px;
               margin-bottom: 25px;
            }
            & > .edition-name {
               font-size: 70px;
               line-height: 1.2;
               letter-spacing: -0.15px;
            }
            & > .edition-info {
               font-size: 28px;
               margin-top: 25px;
               line-height: 1.14;
               letter-spacing: -0.53px;
            }
         }
         @media all and (max-width: 768px) {
            & > .school-name {
            }
            & > .edition-name {
              line-height: 1.14;
              white-space: pre-line;
            }
            & > .edition-info {
            }
         }
         @media all and (max-width: 500px) {
            & > .school-name {
               font-size: 13px;
               letter-spacing: 1.2px;
               text-shadow: 0 0 12px rgba(255, 255, 255, 0.83);
            }
            & > .edition-name {
               font-size: 50px;
               line-height: 1.14;
               letter-spacing: -0.11px;
               white-space: pre-line;
            }
            & > .edition-info {
              font-size: 16px;
              line-height: 1;
              letter-spacing: -0.3px;
            }
         }
      }
   }
}


.division .division-content .project{

   @media all and ( max-width : 1024px ){
      flex-basis: 50%;
   }
   @media all and ( max-width : 568px ){
      flex-basis: 100%;
      margin-top: 40px;
   }
   &.empty{
      @media all and ( max-width : 780px ){
         display: none;
      }
   }
}

#past-issues .main-wrapper .grid-container .issue {
   @media all and ( max-width : 960px ){
      flex-basis: 50%;
   }
   @media all and ( max-width : 580px ){
      flex-basis: 100%;
      margin: 25px auto 25px auto;
   }
}

#awards-recognitions {
  @media all and (max-width: 1024px) {
    & .main-wrapper {
      & .grid-container {
        margin: 0 50px;
        width: calc(100% - 100px);
        max-width: none;
      }
    }
  }
  @media all and (max-width: 768px) {
    & .award {
      .award-top-component-container {
        .award-top-box-container {
          padding: 30px !important;
          .award-top-box-text-container {
            margin-right: 25px !important;
            h2 {
              font-size: 26px !important;
              line-height: 1.35 !important;
              letter-spacing: -0.14px !important;
            }
          }
        }
        .award-top-box-icon-container {
          img {
            width: 29px !important;
            height: 46px !important;
          }
          span {
            font-size: 16px !important;
            letter-spacing: 1.6px !important;
          }
        }
        .award-top-box-icon-container.news {
          img {
            width: 36px !important;
            height: 32px !important;
          }
        }
      }
      .award-bottom-component-container {
        .recipient-text {
          font-size: 16px !important;
        }
        .recipient-name-text {
          font-size: 20px !important;
          line-height: 1.5 !important;
          letter-spacing: -0.11px !important;
        }
        .recipient-content-text {
          font-size: 16px !important;
        }
      }
    }
  }
  @media all and (max-width: 700px) {
    .award-top-component-container {
      flex-direction: column-reverse !important;
      height: auto !important;
      .award-top-box-container {
        width: calc(100% - 60px - 10px) !important;
        height: 190px - 60px - 10px !important;
      }
      .award-image-container {
        width: 100% !important;
        height: 255px !important;
      }
    }
  }
  @media all and (max-width: 500px) {
    .grid-container {
      margin: 0 !important;
      width: 100% !important;
    }
    .award-top-box-container {
      width: calc(100% - 60px - 10px) !important;
      height: 190px - 60px - 10px !important;
    }
    .award-bottom-component-container {
      padding: 0 20px !important;
    }
  }
  @media all and (max-width: 425px) {
    .award {
      margin-bottom: 90px !important;
    }
    .award .award-top-component-container .award-top-box-container {
      padding: 25px !important;
      min-height: 110px;
      height: auto !important;
      width: calc(100% - 50px - 10px) !important;
      .award-top-box-text-container h2 {
        font-size: 24px !important;
        line-height: 1.33 !important;
        letter-spacing: -0.13px !important;
      }
    }
  }
}

#featured-faculty .main-wrapper .grid-container .row-1 {
   @media all and ( max-width : 765px ){
      flex-flow: column nowrap;
      padding-left: 0px;
   }
   & .slider {
      @media all and ( max-width : 765px ){
            order: 1;
            height: auto;
      }
   }

   & .text-block {
      @media all and ( max-width : 765px ){
            order: 2;
            margin: 40px auto 0px auto;

      }
      & p{
         @media all and ( max-width : 400px ){
            max-width: 90%;
            margin: 0 auto;
         }
      }
   }
}
#featured-faculty .main-wrapper .grid-container .row-2 {
   @media all and ( max-width : 1140px ){
      flex-flow: column;

      & > div:first-of-type{
         height: auto;
         flex: auto;
         width:100%;
      }
      & > div:nth-of-type(3){
         max-width:657px;
         margin:0 auto;
         flex: auto;
         margin-top: 60px;
      }
   }
   & .text-block {
      @media all and ( max-width : 1140px ){
         column-count: 2;

         -webkit-column-count: 2;
         margin: 60px auto 0 auto;
         column-gap: 30px;
         height: auto;
      }
      @media all and ( max-width : 670px ){
         column-count: 1;
         -webkit-column-count: 1;
      }
      & p{
         @media all and ( max-width : 400px ){
            max-width: 90%;
            margin: 0 auto;
         }
      }
   }
}
#featured-faculty .main-wrapper .grid-container .row-3 {
   @media all and ( max-width : 768px ){

   }
   & .slider {
      @media all and ( max-width : 768px ){
         width: 100%;
         max-width: 100%;
         max-height: 578px;
         height: auto;

      }
   }
}
#featured-faculty .main-wrapper .grid-container .row-4 {

   @media all and ( max-width : 735px ){
      flex-flow: column nowrap;
      padding-left: 0px;
   }
   & .slider {
      @media all and ( max-width : 735px ){
            max-width: none;
            height: auto;
            width: 100%;
            margin-top: 60px;
      }
   }
   & .gap:nth-of-type(1) {
      @media all and ( max-width : 735px ){
            display: none;
      }
   }
   & .gap:last-of-type {
      @media all and ( max-width : 735px ){
            display: none;
      }
   }
   & .text-block {
      @media all and ( max-width : 735px ){
         margin: 0px auto 0px auto;
      }
      & p{
         @media all and ( max-width : 450px ){
            max-width: 90%;
         }
         @media all and ( max-width : 735px ){
            margin: 0 auto;
         }
      }
   }
}
#featured-faculty .main-wrapper .grid-container .row-6{
   @media all and ( max-width : 768px ){

   }
   & .slider {
      @media all and ( max-width : 768px ){
         margin: 0 auto;
      }
   }
   & .gap {
      @media all and ( max-width : 768px ){
         display: none;
      }
   }
}
#featured-faculty .main-wrapper .grid-container .row-7{
   @media all and ( max-width : 768px ){
   }
   & > .slider {
      @media all and ( max-width : 768px ){
         height: auto;
         max-width: none;
         width: 100%;
      }
   }
   & > .gap {
      @media all and ( max-width : 768px ){
         display: none;
      }
   }
}
#featured-faculty .main-wrapper .grid-container .row-10 {

   @media all and ( max-width : 768px ){
      flex-flow: column nowrap;
      padding-left: 0px;
      & > .slider {
         max-width: none;
         height: auto;
         width: 93%;
      }
      & > .gap:nth-of-type(1) {
         display: none;
      }
      &  > .gap:last-of-type {
         display: none;
      }
      & > .text-block {
         margin-top: 60px;
         align-self: flex-end;
         margin-right: 7%;
         & p{
            max-width: 468px;
         }
      }
   }
   @media all and ( max-width : 480px ){
      & > .slider {
         width: 100%;
      }
      & > .text-block {
         margin-right: 0px;
         padding-right: 0px;
         & p{
            max-width: 90%;
            margin: 0 auto;
         }
      }
   }
}

#featured-alumna .main-wrapper .grid-container .row-1 {
   @media all and ( max-width : 1130px ){
      flex-flow: column nowrap;
   }

   & > .gap{
      @media all and ( max-width : 1130px ){
         display: none;
      }
   }
   & > .slider {
      @media all and ( max-width : 1130px ){

            margin-top: 60px;
            align-self:flex-end;
            max-width: 49%;
            height: 472px;
      }
      @media all and ( max-width : 650px ){
            align-self:center;
            max-width: 100%;
   }
   }

   & > .text-block {
      @media all and ( max-width : 1130px ){
            margin: 0 auto;
      }
      @media all and ( max-width : 650px ){
            column-count: 1;
            -webkit-column-count: 1;
            max-width: 90%;
      }

   }
}


#featured-alumna .main-wrapper .grid-container .row-2 {
   @media all and ( max-width : 1130px ){
      flex-flow: row wrap;
      margin-top: -480px;
   }
   @media all and ( max-width : 650px ){
      flex-flow: column nowrap;
      margin-top: 60px;
      align-items: center;
   }
   & > .gap{
      @media all and ( max-width : 1130px ){
         display: none;
      }
   }
   & > .slider{
      @media all and ( max-width : 1130px ){
         order:2;
         margin: 0 auto;
         max-width: 100%;

         flex-shrink: 0;
      }
      @media all and ( max-width : 650px ){
         margin-top: 60px;
      }
   }
   & > .text-block {
      @media all and ( max-width : 1130px ){
            order:1;
            max-width: 50%;
            height: 550px;
            margin-left: calc((100% - 640px)/2);

      }
      @media all and ( max-width : 650px ){
         height: auto;
         max-width: 90%;
         margin: 0px auto 0 auto;
      }

   }
}
#featured-alumna .main-wrapper .grid-container .row-4 {
   @media all and ( max-width : 1080px ){
      flex-flow: row wrap;
      justify-content: flex-end;
      padding: 0px calc((100% - 875px)/2);
   }
   @media all and ( max-width : 650px ){
      flex-flow: column nowrap;
      align-items: center;
   }
   & > div:nth-of-type(1){
      @media all and ( max-width : 1080px ){
         display: none;
      }
   }
   & > div:nth-of-type(2){
      @media all and ( max-width : 1080px ){
         margin-right: 0;
         height: 585px;
      }
      @media all and ( max-width : 876px ){
         flex : 0 1 54%;
      }
      @media all and ( max-width : 650px ){
         max-width: 100%;
         margin: 0 auto 0 auto;
         flex: auto;
      }
   }
   & > div:nth-of-type(3){
      @media all and ( max-width : 1080px ){

         margin-left: calc(100% - 494px - 307px);
         margin-right:0;
      }
      @media all and ( max-width : 876px ){
           margin-left: 7%;
           flex : 0 1 39%;
      }
      @media all and ( max-width : 650px ){
         max-width: 100%;
         margin: 60px auto 0 auto;
         flex: auto;
      }
   }
   & > div:nth-of-type(4){
      @media all and ( max-width : 1080px ){
         display: none;

      }
   }
   & > div:nth-of-type(5){
      @media all and ( max-width : 1080px ){
            margin-top: -90px;
      }
      @media all and ( max-width : 876px ){
           flex : 0 1 39%;
      }
      @media all and ( max-width : 650px ){
         max-width: 100%;
         margin: 60px auto 0 auto;
         flex: auto;
      }

   }
   & > div:nth-of-type(6){
      @media all and ( max-width : 1080px ){
         display: flex;
         width: calc((100% - 875px)/2);
      }
   }
}
#featured-alumna .main-wrapper .grid-container .row-5 {
   @media all and ( max-width : 1080px ){
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0px calc((100% - 875px)/2);
      margin-top: -295px;
   }
   @media all and ( max-width : 650px ){
      flex-flow: column nowrap;
      align-items: center;
      margin-top: 60px;
   }
   & > div:nth-of-type(1){
      @media all and ( max-width : 1080px ){
         margin-right:0;
         max-width: 494px;
         height: 287px;
      }
      @media all and ( max-width : 876px ){
         max-width: 54%;
      }
      @media all and ( max-width : 650px ){
         max-width: 100%;
         margin: 0 auto;
      }
   }
   & > div:nth-of-type(2){
      @media all and ( max-width : 1080px ){
         margin-top: 60px;
         align-self:center;
      }
      @media all and ( max-width : 650px ){
         max-width: 100%;

      }
   }
   & > div:nth-of-type(3){
      @media all and ( max-width : 1080px ){
         display: none;
      }

   }
}
#featured-alumna .main-wrapper .grid-container .row-7{
   @media all and ( max-width : 1190px ){

   }
   @media all and ( max-width : 650px ){
      flex-flow: column nowrap;
      align-items: center;
   }
   & > div:nth-of-type(1){
      @media all and ( max-width : 1190px ){
         display: none;
      }
   }
   & > div:nth-of-type(2){
      @media all and ( max-width : 1190px ){
         max-width: 54%;
         margin-right: 5%;
      }
      @media all and ( max-width : 650px ){
         order: 2;
         max-width: 100%;
         margin: 60px auto 0 auto;
         height: auto;
      }

   }
   & > div:nth-of-type(3){
      @media all and ( max-width : 1190px ){
         max-width: 33%;
      }
      @media all and ( max-width : 650px ){
         max-width: 90%;
         order: 1;
      }

   }
   & > div:nth-of-type(4){
      @media all and ( max-width : 1190px ){
         display: none;
      }

   }

}
#featured-alumna .main-wrapper .grid-container .row-9{
   @media all and ( max-width : 1195px ){

   }
   @media all and ( max-width : 650px ){
      flex-flow: column nowrap;
      margin-top: 60px;
      align-items: center;
   }
   & > div:nth-of-type(1){
      @media all and ( max-width : 1195px ){
         display: none;
      }
   }
   & > div:nth-of-type(2){
      @media all and ( max-width : 1195px ){
         order: 2;
         margin-right: 0px;
         flex: 0 1 33%;
      }
      @media all and ( max-width : 650px ){
         order: 1;
         max-width: 90%;
         margin: 0 auto 0 auto;
         flex: auto;
      }

   }
   & > div:nth-of-type(3){
      @media all and ( max-width : 1195px ){
         order: 3;
         height: auto;
         margin: 60px auto 0 auto;
      }
      @media all and ( max-width : 650px ){
         order: 3;

         flex: 0 1 100%;
         flex: auto;
         margin: 60px auto 0 auto;
      }

   }
   & > div:nth-of-type(4){
      @media all and ( max-width : 1195px ){
         display: none;
      }

   }
   & > div:nth-of-type(5){
      @media all and ( max-width : 1195px ){
         order:1;
         margin-right: 5%;
         flex: 0 1 54%;
      }
      @media all and ( max-width : 650px ){
         order: 2;
         max-width: 100%;
         margin: 60px auto 0 auto;
         flex: auto;
      }

   }

}
#featured-alumna .main-wrapper .grid-container .row-10{
   @media all and ( max-width : 1095px ){

   }
   & > div:nth-of-type(1){
      @media all and ( max-width : 1095px ){
         display: none;
      }
   }
   & > div:nth-of-type(2){
      @media all and ( max-width : 1095px ){
      }

   }
   & > div:nth-of-type(3){
      @media all and ( max-width : 1095px ){
         display: none;
      }

   }


}
#featured-alumna .main-wrapper .grid-container .row-11{

   @media all and ( max-width : 650px ){
      flex-flow: column nowrap;
      margin-top: 60px;
      align-items: center;
   }
   & > div:nth-of-type(1){
      @media all and ( max-width : 650px ){
         margin: 0 auto;
         max-width: 80%;
      }
      @media all and ( max-width : 320px ){
         max-width: 260px;
      }
   }
   & > div:nth-of-type(2){

      @media all and ( max-width : 650px ){
         margin: 60px auto 0 auto;
         max-width: 80%;
      }

      @media all and ( max-width : 320px ){
         max-width: 260px;
      }
   }
   & > div:nth-of-type(3){

      @media all and ( max-width : 650px ){
         margin: 60px auto 0 auto;
         max-width: 80%;
      }
      @media all and ( max-width : 320px ){
         max-width: 260px;
      }

   }

}
#featured-alumna .main-wrapper .grid-container .row-13{


   & > div:nth-of-type(2){
      @media all and ( max-width : 850px ){
         max-width:90%;
      }
      @media all and ( max-width : 650px ){
         max-width: 100%;
      }

   }



}
#project-header .main-wrapper {
  @media all and (max-width : 1200px) {
    justify-content: flex-start;
    transform: translateX(350px);

    .project-card {
      max-width: 335px;
    }

    .project-name > p {
      font-size: 20px !important;
    }

    .student-name {
      font-size: 48px !important;
      line-height: 1.08 !important;
      letter-spacing: -0.37px !important;
    }

    .top-right-box {
      transform-origin: top right;
      transform: translateY(-25px) translateX(-5px) scale(0.79) !important;
    }

    .project-main-image {
      width: calc(100% - 350px);
      height: 500px;
      object-position: right;
    }
  }

  @media all and (max-width : 767px) {
    transform: translateX(0px) !important;

    .project-card-wrapper {
  		top: 100%;
  		transform: translateY(-15%) translateX(12%) ;
    }

    .project-card {
      max-width: 285px !important;
      padding: 20px !important;
    }

    .project-name {
      text-align: right;
      transform: translateX(-100%) rotate(-90deg) translateY(-120%) translateX(-45px) !important;
    }

    .project-name > p {
      font-size: 16px !important;
      letter-spacing: 0.92px !important;
    }

    .student-name {
      font-size: 36px !important;
      line-height: 1.19 !important;
      letter-spacing: -0.28px !important;
    }

    .student-contact p {
      font-size: 16px !important;
      line-height: 1.38 !important;
    }

    .top-right-box {
      transform-origin: top right;
      transform: translateY(-25px) translateX(-5px) scale(0.78) translateY(5px) !important;
    }

    .project-main-image {
      width: 100vw;
      height: 400px;
      object-position: right;
    }

    .faculty-wrapper {
      margin-top: 5px !important;
    }

    .faculty-wrapper p {
      font-size: 16px !important;
      line-height: 1.38 !important;
    }
  }
}

#project-content-s {
  @media all and (max-width : 767px) {
    margin-top: calc(313px * 0.88 + 30px) !important;
  }
}

#project-information .main-wrapper{
   & .row-1{
       @media all and ( max-width : 830px ){
         & > div:nth-of-type(1){
            flex-basis: 8%;
         }
         & > div:nth-of-type(2){
            display: none;
         }
         & > .student-additionals {
            flex-flow: row nowrap;
            & > div:nth-of-type(2){
               margin-top: 0px;
               margin-bottom: 0px;
               margin-left: 10px;
            }
         }
       }
       @media all and ( max-width : 660px ){
         & > .student-additionals {
            flex-flow: column nowrap;
            & > div:nth-of-type(2){
               margin-left: 0px;
               margin-top: 20px;
            }
         }
       }
       @media all and ( max-width : 460px ){
         & > div:nth-of-type(1){
            display: none;
         }
         & > div:nth-of-type(2){
            display: none;
         }
         & > div:nth-of-type(3){
            margin-left: 6%;
            max-width: 92%;
         }
      }
   }
   @media all and ( max-width : 1024px ){
      & > p:nth-of-type(1){
         margin-left: 8%;
      }
      & > .student-additionals{
         & > div:nth-of-type(1){
            margin-left: 8%;
         }
      }
   }
   @media all and ( max-width : 580px ){
      & > p:nth-of-type(1){
         margin-left: 3%;
      }
      & > .student-additionals{
         & > div:nth-of-type(1){
            margin-left: 3%;
         }
      }
   }
   @media all and ( max-width : 460px ){
      & > p:nth-of-type(1){
         font-size: $font-size * 3.6;
         margin-left: 6%;
         margin-right: 6%;
      }
      & > .student-additionals{
         flex-flow: row wrap;
         & > div:nth-of-type(1){
            margin-left: 6%;
            margin-right: 6%;
         }
         & > div:nth-of-type(2){
            margin-left: 6%;
            margin-right: 6%;
            margin-top: 20px;
         }
         & > p.student-website, & > p.student-email, & > p.student-degree{
            margin-left: 6%;
            max-width: 92%;
         }
      }
   }
}
#project-content-s .main-wrapper .grid-container .row-1{
   @media all and ( max-width : 830px ){
      flex-flow: column nowrap;
      margin-top: 0px;

   }
   & > div:nth-of-type(1){
      @media all and ( max-width : 830px ){
         height: auto;
         align-self: flex-start;
      }
   }
   & > div:nth-of-type(2){
      @media all and ( max-width : 830px ){
         display: none;
      }

   }
   & > div:nth-of-type(3){
      @media all and ( max-width : 830px ){
         margin-top: 60px;
         align-self: flex-start;
         min-height: 380px;
         margin-left: 8%;
      }
      @media all and ( max-width : 720px ){
         margin-left: 2%;

      }
      @media all and ( max-width : 650px ){
         max-width: 90%;
         margin: 60px auto 0px auto;
         align-self: center;
         min-height: 0;

      }
      & p{
         @media all and ( max-width : 830px ){
            margin: 0 auto;
            max-width: 314px;
         }
         @media all and ( max-width : 650px ){
            max-width: 340px;
            padding-right: 0px;
         }
      }
   }
}

#project-content-s .main-wrapper .grid-container .row-2 {
   @media all and ( max-width : 1130px ){
      flex-flow: column nowrap;
   }
   & > div:nth-of-type(1){
      @media all and ( max-width : 1130px ){
         order: 4;
         display: none;

      }
   }
   & > div:nth-of-type(2){
      @media all and ( max-width : 1130px ){
         order: 1;
         max-width: 45%;
         align-self: flex-end;
         flex: auto;
      }
      @media all and ( max-width : 830px ){
         margin-top: -440px;
      }
      @media all and ( max-width : 720px ){
         max-width: 320px;
      }
      @media all and ( max-width : 650px ){
         margin-top: 0px;
         max-width: 520px;
      }

   }
   & > div:nth-of-type(3){
      @media all and ( max-width : 1130px ){
         order: 2;
         margin: 60px 11% 0 auto;
         flex: auto;
      }
      @media all and ( max-width : 650px ){
         margin: 60px auto 0px auto;

      }
   }
   & > div:nth-of-type(4){
      @media all and ( max-width : 1130px ){
         order: 3;
         align-self: flex-start;
         flex: auto;
         margin-top: 60px;
      }
      & > .slider{
         @media all and ( max-width : 1130px ){
            max-width: 75%;
         }
         @media all and ( max-width : 768px ){
            max-width: 566px;
         }
      }
   }
   & > div:nth-of-type(5){
      @media all and ( max-width : 1130px ){
         order: 5;
         display: none;
      }
   }
   & > div:nth-of-type(6){
      @media all and ( max-width : 1130px ){
         order: 6;
         margin: 60px auto 0px;
         max-width: 95%;
         display: inline;
         column-count: 2;
         -webkit-column-count: 2;
      }
      @media all and ( max-width : 650px ){
         column-count: 1;
         -webkit-column-count: 1;
         max-width: 90%;
      }
      & > p{
         @media all and ( max-width : 1130px ){
            margin: auto;
         }
      }
   }
}
#project-content-s .main-wrapper .grid-container .row-4{
   @media all and ( max-width : 780px ){
      flex-flow: column nowrap;
      align-items: center;
   }
   & > div:nth-of-type(1){
      @media all and ( max-width : 780px ){
         margin: 0 auto;
         height: auto;
      }
   }
   & > div:nth-of-type(2){
      @media all and ( max-width : 780px ){
         margin: 60px auto 0px auto;
         max-width: 580px;
         height: auto;
      }
   }
}

#letter-section {
  & .main-letter-wrapper {
    @media all and (max-width: 600px) {
      margin-top: 150px;
    }
  }

  & .inner-letter-wrapper-1, .inner-letter-wrapper-2 {
    @media all and (max-width: 1100px) {
      width: 80%;
    }
    @media all and (max-width: 954px) {
      margin-right: 10%;
      margin-left: 10%;
    }
    @media all and (max-width: 768px) {
      .letter-from {
        transform: translateX(-100%) rotate(-90deg) translateY(-150%);
        font-size: 22px;
        letter-spacing: -0.14px;
      }
      .bottom-profile p {
        font-size: 17px;
        letter-spacing: -0.09px;
      }
    }
    @media all and (max-width: 600px) {
      width: 90%;
      margin-right: 5%;
      margin-left: 5%;
      .letter-from {
        transform: translateY(calc(-100% - 43px - 10px)) translateX(5px);
      }
      .bottom-profile {
        position: relative;
        margin-top: 0;
        z-index: 301;
        transform: translateY(-100%);
        padding: 0 45px 35px 45px;
        & p {
         font-size: 16px;
       }
      }
    }
    @media all and (max-width: 425px) {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 0;
      .letter-from {
        transform: translateY(calc(-100% - 43px - 10px)) translateX(15px);
      }
      .bottom-profile {
        padding: 0 35px 35px 35px;
      }
    }
  }

  & .inner-letter-wrapper-2 {
    @media all and (max-width: 425px) {
      margin-top: 0;
    }
  }
}

#director-letter-section, #dean-letter-section {
  @media all and (max-width: 768px) {
    padding: 80px 65px;
    & h1 {
      font-size: 50px;
      line-height: 1.16;
    }
  }

  @media all and (max-width: 600px) {
    padding: 30px 40px 120px;
    & img {
      transform: translateY(calc(-100% - 5px)) translateX(5px);
    }
    & h1 {
      font-size: 40px;
      line-height: 1.08;
      letter-spacing: -0.09px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(calc(-100% - 15px));
    }
  }

  @media all and (max-width: 425px) {
    padding: 30px 30px 150px;
    & h1 {
      transform: translateY(calc(-100% - 10px)) translateX(10px);
    }
  }
}

.section-header{
   @media all and ( max-width: 980px ){
      & > p:first-child{
         font-size: 26px;
      }
      & > p:nth-of-type(2){
         font-size: 70px;
      }
      & > p:nth-of-type(3){
         font-size: 20px;
      }
   }
}
#project-content .main-wrapper .grid-container {
   & > .row-1{
      @media all and ( max-width: 1024px ){
         & > div:nth-of-type(4){
            margin: 0px 0px 0px 0px;
         }
      }
      @media all and ( max-width: 480px ){
         flex-flow: row wrap;
         & > div:nth-of-type(1){
            display: none;
         }
         & > div:nth-of-type(2){
            max-width: 90%;
            margin: 0 auto;
            & > p{
               max-width: none;
            }
         }
         & > div:nth-of-type(3){
            display: none;
         }
         & > div:nth-of-type(4){
            flex: 0 1 100%;
            margin: 40px auto 0 auto;
         }
         & > div:nth-of-type(5){
            display: none;
         }
      }
   }
   & > .row-2{
      @media all and ( max-width: 1024px ){
         & > div:nth-of-type(1){
            margin-top: 0px;
            flex: 0 1 940px;
         }
         & > div:nth-of-type(2){
            flex: 0 1 8%;
         }
      }
      @media all and ( max-width: 480px ){
         margin-top: 40px;
         & > div:nth-of-type(1){
            max-width: 100%;
         }
         & > div:nth-of-type(2){
            display: none;
         }
      }
   }
   & > .row-3{
      @media all and ( max-width: 1024px ){
         & > div:nth-of-type(1){
            flex: 0 1 491px;
         }
         & > div:nth-of-type(2){
            flex: 0 1 30px;
         }
         & > div:nth-of-type(3){
            margin-top: 0px;
            flex: 0 1 430px;
         }
         & > div:nth-of-type(4){
            flex: 0 1 8%;
         }
      }
      @media all and ( max-width: 480px ){
         flex-flow: row wrap;
         margin-top: 40px;
         & > div:nth-of-type(1){
            flex: 0 1 100%;
            order: 2;
            margin-top: 40px;
         }
         & > div:nth-of-type(2){
            display: none;
         }
         & > div:nth-of-type(3){
            order: 1;
            max-width: 90%;
            margin: 0px auto;
         }
         & > div:nth-of-type(4){
            display: none;
         }
      }
   }
   & > .row-4{
      @media all and ( max-width: 1024px ){
         & > div:nth-of-type(1){
            display: none;
         }
         & > div:nth-of-type(2){
            margin-top: 0px;
            flex: 0 1 100%;
         }
      }
       @media all and ( max-width: 480px ){
         margin-top: 40px;
      }
   }
   & > .row-5{
      @media all and ( max-width: 1024px ){
         & > div:nth-of-type(2){
            margin-top: 0px;
         }
         & > div:nth-of-type(3){
            margin: 0px 0px 0px 0px;
         }
      }
      @media all and ( max-width: 900px ){
         flex-flow: row wrap;
         & > div:nth-of-type(1){
            flex-basis: 7.3%;
         }
         & > div:nth-of-type(2){
            margin: 0px 0px 0px 0px;
         }
         & > div:nth-of-type(3){
            margin: 60px auto 0 auto;
            flex: 0 1 87%;
         }
      }
      @media all and ( max-width: 480px ){
         margin-top: 40px;
         & > div:nth-of-type(1){
            display: none;
         }
         & > div:nth-of-type(2){
            max-width: 90%;
            margin: 0px auto;
            & > p{
               max-width: none;
            }
         }
         & > div:nth-of-type(3){
            margin-top: 40px;
            flex: 0 1 100%;
         }
      }
   }
   & > .row-6{
      @media all and ( max-width: 480px ){
         margin-top: 40px;
      }
   }
}


#faculty-directory {
  @media all and (max-width: 1024px) {
    padding: 0 50px;
  }
  @media all and (max-width: 768px) {
    margin-bottom: 100px;
    & .division {
      margin-bottom: 50px;
      & .faculty {
        margin-top: 30px;
        & .faculty-title {
          font-size: 26px;
          line-height: 1.35;
          letter-spacing: -0.14px;
        }
        & .faculty-email a, & .faculty-website a {
          font-size: 16px;
        }
        & .faculty-degree, & .faculty-work {
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }
  }
  @media all and (max-width: 650px) {
    .main-wrapper.faculty-dir {
      margin-top: 0 !important;
    }
    & .division {
      & .faculty {
        flex-basis: 100%;
      }
    }
  }
  @media all and (max-width: 425px) {
    padding: 0 20px;
  }
}

#sticky-navigation {
  @media all and (max-width: 1024px) {
    margin-left: -50px;
    width: 50px;
  }
  @media all and (max-width: 768px) {
    top: 50px;
  }
  @media all and (max-width: 650px) {
    display: none;
  }
}

// #sticky-navigation{
//    @media all and ( max-width : 630px ){
//       width: 100%;
//       display: flex;
//       top: 45px;
//       height: 1px;
//       margin-bottom: 0px;
//    }
//    & .navigation{
//       @media all and ( max-width : 630px ){
//          align-items: flex-start;
//          height: 1px;
//          justify-content: flex-end;
//          transition: none;
//       }
//       &.sticked{
//          @media all and ( max-width : 630px ){
//             border:none;
//             background-color: transparent;
//          }
//       }
//       & > ul{
//          @media all and ( max-width : 630px ){
//             flex-flow: column nowrap;
//             align-items: center;
//             justify-content: flex-start;
//             width: 53px;
//          }
//          &>li{
//             @media all and ( max-width : 630px ){
//                height: 32px;
//             }
//          }
//       }
//    }
// }

#awards-section .main-wrapper {
  @media all and (max-width: 1024px) {
    flex-direction: column;
    padding: 65px 75px;
    & .label {
      align-self: flex-start;
      margin-bottom: 40px;
    }
    & .awards-panel {
      align-self: flex-start;
    }
  }

  @media all and (max-width: 768px) {
    & .label {
      & p {
        font-size: 50px;
        line-height: 1.16;
      }
    }
    & .awards-panel {
      & .readmore {
        margin-top: 0 !important;
      }
    }
  }

  @media all and (max-width: 485px) {
    padding: 50px 25px;
    & .label {
      & p {
        font-size: 40px;
        line-height: 1.08;
        letter-spacing: -0.09px;
      }
    }
    & .awards-panel {
      & p {
        font-size: 20px !important;
        line-height: 1.2 !important;
        letter-spacing: -0.2px !important;
        margin-top: 6px !important;
      }
      & .readmore {
        & a {
          font-size: 16px !important;
          letter-spacing: 0.81px !important;
        }
      }
    }
  }
}
p.header-credit{
   @media all and ( max-width: 375px ){
      font-size: 24px;
   }
}
#academic-text .main-wrapper{
   & > .grid-container{
      @media all and ( max-width: 1024px ){
         & > .row-8  .slider{
            margin-top: -15%;
         }
         & > .row-10  .slider{
            margin-top: -28%;
         }
         & > .row-11  .text-block{
            margin-top: -23%;
         }
      }
      @media all and ( max-width: 768px ){
         & > .row-2{
            margin-top: 40px;
            & > .text-block p{
               padding-right: 0px;
            }
         }
         & > .row-3{
            & > .gap{
               display: none;
            }
         }
         & > .row-5{
            flex-flow: row wrap;
            & > .slider{
               flex: 0 1 100%;
               margin-right: 0px;
            }
            & > .text-block{
               max-width: 90%;
               margin-right: 0px;
               margin: 40px auto 0px auto;
               flex: auto;
            }
         }
         & > .row-6{
            flex-flow: row wrap;
            justify-content: flex-start;
            & > div:nth-of-type(1){
               display: none;
            }
            & > div:nth-of-type(4){
               display: none;
            }
            & > .slider{
               order: 1;
               margin-right: 0px;
            }
            & > .text-block{
               order: 2;
               max-width: 90%;
               margin-left: 0px;
               margin: 40px auto 0px auto;
               flex: auto;
            }
         }
         & > .row-7{
            & > div:nth-of-type(1){
               display: none;
            }
            & > div:nth-of-type(4){
               display: none;
            }
            & > .slider{
               flex: 0 1 375px;
               margin-right: 4%;
            }
            & > .text-block{
               flex: 0 1 288px;
            }
         }
         & > .row-8{
            justify-content: flex-end;
            & > div:nth-of-type(1){
               display: none;
            }
            & > div:nth-of-type(4){
               display: none;
            }
            & > .slider{
               flex: 0 1 395px;
               margin-top: 0px;
            }
            & > .text-block{
               flex: 0 1 288px;
               margin-right: 4%;
            }
         }
         & > .row-8{
            justify-content: flex-end;
            margin-top: 40px;
            & > div:nth-of-type(1){
               display: none;
            }
            & > div:nth-of-type(4){
               display: none;
            }
            & > .slider{
               flex: 0 1 395px;
               margin-top: 0px;
            }
            & > .text-block{
               flex: 0 1 288px;
               margin-right: 4%;
            }
         }
         & > .row-9{
            margin-top: 40px;
            & > div:nth-of-type(3){
               display: none;
            }
            & > .slider{
               flex: 0 1 375px;
               margin-top: 0px;
               margin-right: 4%;
            }
            & > .text-block{
               flex: 0 2 288px;
               margin-right: 4%;
            }
         }
         & > .row-10{
            margin-top: 40px;
            & > div:nth-of-type(1){
               display: none;
            }
            & > .slider{
               flex: 0 1 375px;
               margin-top: 0px;
               margin-left: 4%;
            }
            & > .text-block{
               flex: 0 2 288px;
               margin-right: 0px;
            }
         }
         & > .row-11{
            margin-top: 40px;
            justify-content: center;
            & > div:nth-of-type(1){
               display: none;
            }
            & > div:nth-of-type(3){
               display: none;
            }
            & > .text-block{
               margin-top: 0px;
               margin-left: 0px;
               max-width: 90%;
               flex: auto;
            }
         }
         & > .row-12{
            margin-top: 40px;
            justify-content: center;
            & > div:nth-of-type(1){
               display: none;
            }
            & > div:nth-of-type(3){
               display: none;
            }
            & > .text-block{
               margin-left: 0px;
               margin-right: 0px;
               max-width: 90%;
               flex: auto;
            }
         }
         & > .row-14, & > .row-15{
            margin-top: 40px;
            margin-right: 0px;
            margin-left: 0px;
            & > .text-block{
              max-width: 90%;
            }
         }
         & p.title{
            max-width: 90%;
            margin-bottom: 20px;
         }
      }
      @media all and ( max-width: 480px ){
         & > .row-1{
            flex-flow: row wrap;
            & > .slider:nth-of-type(1){
               margin-right: 0px;
               flex: 0 1 100%;
            }
            & > .slider:nth-of-type(2){
               flex: 0 1 100%;
               margin-top: 40px;
            }
         }
         & > .row-4{
            & > .text-block{
               column-count: 1;
               -webkit-column-count: 1;
               & p{
                  max-width: none;
               }

            }
         }
         & > .row-6{
            & > .text-block{
               order: 1;
               margin-top: 0px;
            }
            & > .slider{
               order: 2;
               margin-top: 40px;
               max-width: 90%;
               flex: auto;
            }
         }
         & > .row-7{
            flex-flow: row wrap;
            justify-content: center;
            & > .slider{
               margin-right: 0px;
               margin-top: 40px;
               flex: 0 1 100%;
               order: 2;
            }
            & > .text-block{
               max-width: 90%;
               margin-right: 0px;
               flex: auto;
               order: 1;
            }
         }
         & > .row-8{
            flex-flow: row wrap;
            justify-content: center;
            & > .slider{
               margin-right: 0px;
               margin-top: 40px;
               flex: 0 1 100%;
            }
            & > .text-block{
               max-width: 90%;
               flex: auto;
            }
         }
         & > .row-9{
            flex-flow: row wrap;
            justify-content: center;
            & > .slider{
               margin-right: 0px;
               margin-top: 40px;
               order: 2;
               flex: 0 1 100%;
            }
            & > .text-block{
               max-width: 90%;
               margin-right: 0px;
               flex: auto;
               order: 1;
            }
         }
         & > .row-10{
            flex-flow: row wrap;
            justify-content: center;
            & > .slider{
               margin-top: 40px;
               flex: 0 1 100%;
               margin-left: 0px;
            }
            & > .text-block{
               max-width: 90%;
               margin-left: 0px;
               flex: auto;
            }
         }
      }

   }
}
#authors-bio-section .main-wrapper {
   & > p:nth-of-type(1), & > p:nth-of-type(2){
      margin-left: 5%;
   }
   & > p:nth-of-type(3) {
      @media all and ( max-width: 768px ){
         max-width: 90%;
      }
   }
}

#credits {
  @media all and (max-width: 1024px) {
    .main-wrapper .credit-container {
      & .credit {
    		flex-basis: 48%;
      }
    }
  }
  @media all and (max-width: 768px) {
    padding: 0 50px;
    & .main-wrapper {
      margin-top: 100px;
      margin-bottom: 100px;
    }
    & .credit {
      flex-basis: 100% !important;
      margin-bottom: 32px !important;
      & p {
        font-size: 16px !important;
        line-height: 1.5 !important;
      }
      & h2 {
        font-size: 26px !important;
        line-height: 1.35 !important;
        letter-spacing: -0.14px !important;
      }
    }
  }
  @media all and (max-width: 600px) {
    .main-wrapper .credit-container {
      & .credit {
    		flex-basis: 100%;
        margin-left: 0;
  			margin-right: 0;
      }
    }
  }
  @media all and (max-width: 425px) {
    padding: 0 20px;
    & .main-wrapper {
      margin-top: 0;
      margin-bottom: 50px;
      .credit {
        margin-bottom: 25px !important;
        & h2 {
          font-size: 24px !important;
          line-height: 1.33 !important;
          letter-spacing: -0.13px !important;
        }
      }
      .credit:last-of-type {
        display: none;
      }
    }
  }
}

.footer-nav {
   @media all and (max-width: 800px) {
      flex-direction: column;

      & .footer-section:nth-child(2) {
    		position: relative;
    		left: 0;
    		transform: none;
    	}
      .footer-section:not(:last-of-type) {
        margin-bottom: 10px;
      }
   }
}
