//
// Modules
//
// Smaller components, such as selector modifiers (classes, IDs, attribute selectors,
// etc), belong here.
//

.slider{
   position: relative;
   flex:auto;
   width: 100%;
   height: 100%;
}
.slider .slider-controls{
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
   display: flex;
   justify-content: center;
   z-index: 680;
}
.slider-controls ul{
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
}
.slider-controls ul li{
   width: 10px;
   height: 10px;
   margin: 15px 5px;
   background-color: rgb(213, 232, 221);
   border-radius: 50%;
   list-style: none;
   cursor: pointer;
}
.slider-controls ul li.current{
   background-color: rgb(10,237,143);
}
.slider-frame{
   position: relative;
   display: flex;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
.slider-content{
   position: relative;
   display: flex;
   flex-flow: row nowrap;
   min-width: 100%;
   height: 100%;
   z-index: 600;
}
.slider-content img{
   position: relative;
   margin: 0 auto;
   width:100%;
   height: 100%;
   flex: none;
   object-position: 50% 50%;
   object-fit: cover;
}
