body, html {
	position: relative;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	background-color: $color-white;
	color: $color-brownish-grey;
	font-size: $font-size;
	line-height: $leading;
	font-family: $inconsolata-stack;
	font-weight: $regular;

	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

	&.open {
		overflow: hidden;
		transform: translateX($menu-content-width);
	}
}
body {
	overflow-x: hidden;
}

// :target::before {
//   content: "";
//   display: block;
//   height: 60px; /* fixed header height*/
//   margin: -60px 0 0; /* negative fixed header height */
// }

section {
	position: relative;
	z-index: 300;
	margin-bottom: 65px;

	&#page-header{
		z-index: 505;
	}
	&#project-header{
		z-index: 500;
		margin-bottom: 0px;
	}
	&:last-of-type{
		margin-bottom: 0px;
	}
}

.section-header{
	position: relative;
	flex: 0 0 255px;
	& > p:first-child{
		color: $color-turquoise-green;
		font-family: $work-sans-stack;
		font-weight: 400;
		font-size: $font-size * 2;
		line-height: 1;
		letter-spacing: 0.2px;
		text-decoration: none;
	}
	& > p:nth-of-type(2){
		font-family: $contax-sans-regular-stack ;
		font-size: $font-size * 5.5;
		color: $color-dark;
		line-height: 1;
		margin-top: 13px;
		letter-spacing: 0.9px;
		margin-left: -6px;
		text-decoration: none;
	}
	& > p:nth-of-type(3){
		font-family: $work-sans-stack ;
		font-size: $font-size * 1.37;
		color: $color-brownish-grey;
		line-height: 1.6;
		letter-spacing: 2.4px;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.main-letter-wrapper {
	margin-right: auto;
	margin-left: auto;
	max-width: 1366px;
	margin-top: 100px;

	.letter-from {
		position: absolute;
		font-family: $inconsolata-stack;
		font-size: $font-size * 1.625;
		font-weight: $regular;
	  line-height: 1.23;
		letter-spacing: -0.16px;
		color: $color-sky-blue;
		transform-origin: right top;
		transform: translateX(-100%) rotate(-90deg) translateY(-180%);
	}

	.inner-letter-wrapper-1 {
		margin-bottom: 80px;
		margin-left: 10%;
		width: 56%;
		max-width: 765px;
	}

	.inner-letter-wrapper-2 {
		margin-bottom: 80px;
		right: 0;
		margin-top: 80px;
		margin-right: 10%;
		margin-left: auto;
		width: 56%;
		max-width: 765px;
	}

	.bottom-profile {
		margin-top: 20px;

		& p:nth-of-type(1) {
			font-family: $inconsolata-stack;
			font-size: $font-size * 1.125;
			font-weight: $bold;
			letter-spacing: -0.1px;
			color: $color-sky-blue;
		}
		& p:nth-of-type(2) {
			font-family: $inconsolata-stack;
			font-size: $font-size * 1.125;
			font-weight: $regular;
			letter-spacing: -0.1px;
			color: $color-dark;
		}
	}
}


#director-letter-section, #dean-letter-section {
	border: solid 5px #c9e0f1;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 80px;

	img {
		position: absolute;
		top: 0;
		right: 0;

		width: 90px;
	  height: 44px;
	  object-fit: contain;
	}

	h1 {
		font-family: $youngserif-stack;
		font-size: $font-size * 3.75;
		font-weight: $regular;
		line-height: 1.1;
		letter-spacing: -0.05px;
		color: $color-dark;
		margin-bottom: 30px;
	}

	p {
		font-family: $inconsolata-stack;
		font-size: $font-size;
		font-weight: $regular;
		line-height: 1.63;
		color: $color-grey-reading;
	}
}


#awards-section {
	border: solid 6px #159dff;

	.main-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 80px 12.5%;

		& > .label {
			align-self: flex-start;
			position: relative;

			& > p {
				position: relative;
				font-family: $youngserif-stack;
				font-size: $font-size * 3.75;
				color: $color-dark;
				line-height: 1.1;
				text-transform: capitalize;
				letter-spacing: -0.05px;
				text-decoration: none;
				z-index: 530;
				word-break: break-word;
				hyphens: manual;
			}
		}

		& > .awards-panel {
			align-self: flex-end;
			z-index: 520;
			height: auto;

			& .award-winners {
				.award-single-wrapper {
					margin-bottom: 40px;
					display: flex;
					flex-direction: row;
				}
				img {
					width: 34px;
				  height: 57px;
				  object-fit: contain;
					margin-right: 22px;
				}
				span {
					font-family: $youngserif-stack;
					font-weight: $regular;
					font-size: $font-size * 1.75;
					color: $color-sky-blue;
					line-height: 0.86;
					letter-spacing: -0.28px;
				}
				p {
					font-family: $inconsolata-stack;
					font-weight: $regular;
		      font-size: $font-size * 1.625;
		      color: $color-dark;
		      line-height: 0.92;
		      letter-spacing: -0.26px;
					margin-top: 10px;
				}

				& > .readmore{
				    height: 100%;
				    margin-top: 12px;
						a {
							font-family: $inconsolata-stack;
							font-weight: $bold;
							font-size: $font-size * 1.25;
							color: $color-sky-blue;
					    letter-spacing: 0.29px;
							text-transform: uppercase;
						}
				    & a:visited { color: $color-sky-blue; }
						& a:hover{color: $color-dark;}
				}
			}
		}
	}
}

#page-header{
	& .header-bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 40px;
		background-color: $color-light-blue;
		z-index: 521;
	}
	padding: 110px 135px 0 135px;

	& .page-header-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	& h1 {
		font-family: $youngserif-stack;
		font-weight: $regular;
		font-size: 60px;
		color: $color-dark;
		line-height: 1.1;
		letter-spacing: -0.05px;
	}

	& .faculty-icon {
		width: 45px;
		height: 61px;
		object-fit: contain;
	}

	& .awards-icon {
		width: 130px;
		height: 61px;
		object-fit: contain;
	}

	& .credit-icon {
		width: 140px;
		height: 62px;
		object-fit: contain;
	}

	& .design-icon {
		width: 70px;
		height: 62px;
		object-fit: contain;
	}

	& .past-issues-icon {
		width: 56px;
		height: 66px;
		object-fit: contain;
	}
}

#page-header.feature{
	text-align: center;
	& h1{
		margin-top: 20px;
	}
	& p:first-of-type{
		position: relative;
		font-family: $work-sans-stack;
		font-weight: $light;
		font-size: $font-size * 1.75;
		color: $color-slate-grey;
		line-height: 1;
		padding: 16px 0px;
		border: 4px solid $color-turquoise-green;
		max-width: 380px;
		margin:0 auto;
		text-transform: uppercase;
		text-align: center;
		box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.15);
		background-color: $color-white;
		margin-top: -135px;
		letter-spacing: 1.1px;
	}
}

.division{
	border-top: 5px solid $color-sky-blue;

	& .division-title {
		position: relative;
		text-align: center;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border: solid 5px $color-sky-blue;
		background-color: $color-light-blue;
		margin-top: -5px;

		font-family: $youngserif-stack;
		font-weight: $regular;
		font-size: 28px;
		color: $color-dark;
		letter-spacing: -0.16px;
	}

	& .division-content{
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		& .project{
			flex-basis: 33.3%;
			margin:{
				top: 90px;
			}
			text-align: center;
			&:empty {
				flex-basis: 33.3%;
				height: 0;
				border: none;
				margin:{
					top: 90px;
				}
				text-align: center;
			}
			& .project-image{
				position: relative;
				& img{
					object-fit: cover;
					object-position: 50% 50%;
					width: $project-image-width;
					height: $project-image-height;
					border-radius: 50%;
				   color: transparent;
				   opacity: 1;
				   transition: all 150ms;
				   &:hover {
		      	}
				}
			}
			& .project-artist{
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				& a{
					font-family: $contax-sans-regular-stack;
					font-size: $font-size * 2.25;
					color: $color-dark;
					line-height: 1;
					text-decoration: none;
					margin-top: 27px;
					&:after{
						margin-left: 10px;
						cursor: pointer;
						font-size: 36px;
						bottom:-5px;
						position: relative;
						color: $color-aqua-blue;
						content: "\232A";
						transition: all 200ms;
			      }
				}

			}
			& .project-name{
				font-family: $contax-sans-regular-stack;
				font-size: $font-size * 1.5;
				color: $color-purpley-grey;
				line-height: 1;
				text-decoration: none;
				margin-top: 4px;
			}
		}
	}
}

#sticky-navigation{
	position: sticky;
	top: 60px;
	width: 40px;
	height: auto;
	max-height: calc(100vh - 60px);
	z-index: 506;
	margin-left: -(135px - 50px);

	& .navigation{
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		background-color: transparent;
		transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

		&>ul {
			display: flex;
			flex-flow: column;
			text-align: center;
			&>li {
				& a {
					font-family: $inconsolata-stack;
					font-weight: $regular;
					font-size: 18px;
					color: $color-sky-blue;
					text-decoration: none;
				}
				cursor: pointer;
				&:hover {
					transform-origin: 50% 50%;
					transform: scale(1.3, 1.3);
					backface-visibility: hidden;
					text-decoration: underline;
				}
			}
		}
	}
}
#projects-directory {
	margin-bottom: 100px;
	padding: 0 135px;

	.project-division:first-of-type {
		margin-top: 0 !important;
	}

	.project-division {
		margin-top: 50px;

		.project-division-top-wrapper {
			display: flex;
			flex-direction: row;
			align-items: center;
			overflow: hidden;

			.project-division-icon {
				width: 50px;
				height: 50px;
				object-fit: contain;
			}

			.project-division-title {
				margin-left: 25px;
				margin-right: 25px;
				h1 {
					white-space: nowrap;
					font-family: $inconsolata-stack;
					font-size: 26px;
					font-weight: $bold;
					line-height: 1.23;
					letter-spacing: -0.16px;
					color: $color-sky-blue;
				}
			}

			.project-division-line {
				width: 100%;
				height: 5px;
				background-color: $color-sky-blue;
			}
		}

		.project-division-content {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;

			.project {
				flex-basis: 49%;
	    	margin-top: 55px;
				display: flex;
				flex-direction: row;

				.project-image {
					img {
						height: 150px;
						width: auto;
					}
				}
				.project-text-block {
					display: flex;
					flex-direction: column;
					margin-left: 20px;

					.project-artist {
						a {
							font-family: $youngserif-stack;
							font-size: 28px;
							line-height: 1.25;
							letter-spacing: -0.16px;
							color: $color-sky-blue;
						}
						a:hover {
							text-decoration: underline;
						}
					}
					.project-name {
						margin-top: 5px;
						font-family: $inconsolata-stack;
						font-size: 18px;
						font-weight: $bold;
						line-height: 1.44;
						letter-spacing: 0.5px;
						color: $color-grey-reading;
					}

				}
			}
		}
	}
}

#faculty-directory {
	margin-bottom: 150px;
	padding: 0 135px;

	& .main-wrapper {
		display: flex;
		flex-flow: column nowrap;
  	align-items: center;
	}
	& .division {
		max-width: 1366px;
		width: 100%;
		margin-bottom: 100px;

		& .faculty {
			flex-basis: 48%;
			margin-top: 50px;

			& .faculty-title {
				margin-bottom: 10px;
				font-family: $youngserif-stack;
				font-weight: $regular;
				font-size: 28px;
				color: $color-dark;
				line-height: 1.25;
				text-transform: capitalize;
			}
			& .faculty-degree, & .faculty-work {
				margin-top: 10px;
				font-family: $inconsolata-stack;
				font-weight: $regular;
				font-size: 18px;
				color: $color-grey-reading;
				line-height: 1.44;
				text-decoration: none;

				& span {
					font-weight: $bold;
				}
			}
			& .faculty-email a, & .faculty-website a {
				font-family: $inconsolata-stack;
				font-size: 18px;
				color: $color-sky-blue;
				line-height: 1;
				text-decoration: none;
			}
			& .faculty-email a:hover, & .faculty-website a:hover {
				text-decoration: underline;
			}
		}

	}
}

#project-header .main-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
  align-items: center;
	max-width: 100vw;

	& .project-main-image {
		// height: 700px;
		// width: auto;

		width: calc(100vw / 1.6);
		height: 700px;
		object-fit: cover;
	}

	& .project-card-wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-80%);

		& .project-name {
			position: absolute;
			top: 0%;
			transform-origin: right top;
			transform: translateX(-100%) rotate(-90deg) translateY(-120%);


			& > p {
				text-transform: uppercase;
				font-family: $inconsolata-stack;
				font-size: $font-size * 1.625;
				letter-spacing: 1.5px;
				color: $color-dark;
				font-weight: $bold;
			}
		}

		& .project-card {
			width: 448px;
			// height: 309px;
			border: solid 5px #c9e0f1;
			background-color: rgba(255, 255, 255, 0.9);
			box-sizing: border-box;
			padding: $project-card-padding;

			& .student-name {
				font-family: $youngserif-stack;
				font-size: $font-size * 3.75;
				line-height: 1.13;
				letter-spacing: -0.46px;
				color: $color-sky-blue;
			}

			& > .student-contact {
				margin-top: 20px;

				& > p {
					font-family: $inconsolata-stack;
					font-size: 18px;
					line-height: 1.33;
					color: $color-sky-blue;

					& > span {
						color: $color-dark;
						font-weight: $bold;
					}

					& > a {
						color: $color-sky-blue;
						font-weight: $regular;
					}
				}
			}

			& .top-right-box {
				position: absolute;
				right: 0%;
				transform: translateY(-$project-card-padding) translateX(-$top-right-box-border-width);

				width: $top-right-box-width;
				height: $top-right-box-width;
				border: solid $top-right-box-border-width $color-sky-blue;
				background-color: #c9e0f1;

				& .diagonal-line {
					position: absolute;
					top: 50%;
					transform: translateY(-50%) rotate(45deg) scale(1.42);

					width: $top-right-box-width;
					height: $top-right-box-border-width / 1.42;
					background-color: $color-sky-blue;
				}
			}
		}

		& .faculty-wrapper {
			margin-top: 15px;

			& > p {
				font-family: $inconsolata-stack;
				font-size: 18px;
				line-height: 1.33;
				font-weight: $regular;
				color: $color-dark;
			}

			& > p:first-of-type {
				font-weight: $bold;
			}
		}
	}
}


#project-header .main-wrapper-alt {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
  align-items: center;
	max-width: 100vw;

	& .project-main-image {
		// height: 700px;
		// width: auto;

		width: calc(100vw / 1.6);
		height: 700px;
		object-fit: cover;
	}

	& .project-card-wrapper {
		position: absolute;
		top: 50%;
		left: calc(100vw / 1.6);
		transform: translateY(-50%) translateX(-25%);

		& .project-name {
			position: absolute;
			top: 0%;
			right: 0;
			transform-origin: right top;
			transform: translateX(8%) rotate(-90deg);


			& > p {
				text-transform: uppercase;
				font-family: $inconsolata-stack;
				font-size: $font-size * 1.625;
				letter-spacing: 1.5px;
				color: $color-dark;
				font-weight: $bold;
			}
		}

		& .project-card {
			width: 448px;
			// height: 309px;
			border: solid 5px #c9e0f1;
			background-color: rgba(255, 255, 255, 0.9);
			box-sizing: border-box;
			padding: $project-card-padding;

			& .student-name {
				font-family: 'YoungSerif', serif;
				font-size: $font-size * 3.75;
				line-height: 1.13;
				letter-spacing: -0.46px;
				color: $color-sky-blue;
			}

			& > .student-contact {
				margin-top: 20px;

				& > p {
					font-family: $inconsolata-stack;
					font-size: 18px;
					line-height: 24px;
					color: $color-sky-blue;

					& > span {
						color: $color-dark;
						font-weight: $bold;
					}

					& > a {
						color: $color-sky-blue;
						font-weight: $regular;
					}
				}
			}

			& .top-right-box {
				position: absolute;
				right: 0%;
				transform: translateY(-$project-card-padding) translateX(-$top-right-box-border-width);

				width: $top-right-box-width;
				height: $top-right-box-width;
				border: solid $top-right-box-border-width $color-sky-blue;
				background-color: #c9e0f1;

				& .diagonal-line {
					position: absolute;
					top: 50%;
					transform: translateY(-50%) rotate(45deg) scale(1.42);

					width: $top-right-box-width;
					height: $top-right-box-border-width / 1.42;
					background-color: $color-sky-blue;
				}
			}
		}

		& .faculty-wrapper {
			margin-top: 15px;
			text-align: right;

			& > p {
				font-family: $inconsolata-stack;
				font-size: 18px;
				line-height: 24px;
				font-weight: $regular;
				color: $color-dark;
			}

			& > p:first-of-type {
				font-weight: $bold;
			}
		}
	}
}


#project-information .main-wrapper{
	& > .row-1{
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;

		& > div:nth-of-type(1){
			flex: 0 1 693px;
		}
		& > div:nth-of-type(2){
			flex: 0 10 114px;
    		min-width: 2%;

		}
		& > div:nth-of-type(3){
			flex-shrink: 0;
			margin-right: 4%;
			& > p{
				margin-left: 0;
			}
		}
		& > .student-additionals{
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			& > div:nth-of-type(1){
				margin-left: 0px;
				margin-right: 0px;
			}
			& > div:nth-of-type(2){
				margin-top: 20px;
				margin-left: 0px;
				margin-right: 0px;
				margin-bottom: -110px;
			}
		}
	}
	& .student-additionals{
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		& > div{
			max-width: 300px;
		}
		& > div:nth-of-type(1){
			margin-right: 30px;
			margin-left: 10%;

		}
	}
	& p.student-website, & p.student-email, & p.student-degree{
		position: relative;
	}
	& p.student-website a, & p.student-email a, & p.student-degree{
		font-size: $font-size * 1.12;
		line-height: 1.3;
		font-family: $contax-sans-regular-stack;
	}
	& p span{
		color: $color-turquoise-green;
		font-size: $font-size * 1.12;
		line-height: 1;
		font-family: $contax-sans-regular-stack;
		margin-right: 5px;
	}
	& > p:nth-of-type(1){
		position: relative;
		color: $color-dark;
		font-size: $font-size * 4.1;
		line-height: 1;
		font-family: $contax-sans-regular-stack;
		margin-left: 10%;
		width: auto;
		margin-bottom: 25px;
	}


}


#project-content {
	margin-top: $project-content-margin-top;

	p {
		font-family: $inconsolata-stack;
		font-size: $font-size;
		font-weight: $regular;
		line-height: 1.625;
		color: $color-grey-reading;
	}

	& .main-wrapper {
		& .grid-container {
			position: relative;
			& > .row-1{
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-items: flex-start;
				& > div:nth-of-type(1){
					flex: 0 2 134px;
				}
				& > div:nth-of-type(2){
					flex: 0 1 447px;

				}
				& > div:nth-of-type(3){
					flex: 0 2 203px;
				}
				& > div:nth-of-type(4){
					flex: 0 1 426px;
					// margin-top: -115px;
				}
				& > div:nth-of-type(5){
					flex: 0 2 134px;
				}
			}
			& > .row-2{
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				margin-top: 60px;
				& > div:nth-of-type(1){
					flex: 0 1 671px;
					margin-top: -14%;
				}
				& > div:nth-of-type(2){
					flex: 0 1 673px;
				}
			}
			& > .row-3{
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				margin-top: 60px;
				& > div:nth-of-type(1){
					flex: 0 1 581px;
					& > .slider{
						max-width: 470px;
					}
				}
				& > div:nth-of-type(2){
					flex: 0 2 203px;
				}
				& > div:nth-of-type(3){
					margin-top: -20%;
					flex: 0 1 335px;
				}
				& > div:nth-of-type(4){
					flex: 0 1 225px;
				}
			}
			& > .row-4{
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-end;
				margin-top: 60px;
				& > div:nth-of-type(1){
					flex: 0 1 561px;
				}
				& > div:nth-of-type(2){
					flex: 0 2 783px;
					margin-top: -45%;
				}
			}
			& > .row-5{
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				margin-top: 60px;
				& > div:nth-of-type(1){
					flex: 0 2 134px;
				}
				& > div:nth-of-type(2){
					flex: 0 1 447px;
					margin-top: -60px;
					& > p{
						max-width: 314px;
						&:last-of-type{
							margin-top: 30px;
						}
					}
				}
				& > div:nth-of-type(3){
					flex: 0 1 674px;
					margin-top: -150px;
				}
			}
			& > .row-6{
				margin-top: 60px;
				flex: 0 1 100%;
			}
		}
	}
}
#featured-faculty{
	overflow:hidden;
	& .main-wrapper{
		& > p.header-credit{
			position: relative;
	    	margin: 0px auto 30px auto;
			font-size: $font-size * 1.5;
			line-height: $leading;
			font-family: $work-sans-stack;
			font-weight: $light;
			text-align: center;
		}
		& .grid-container{
			width: 100%;
			position: relative;
			margin: 0 auto;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
			& .row-1{
				display: flex;
				flex-flow: row nowrap;
				padding-right: 0;
				padding-left:7%;
				align-self: stretch;
				justify-content: space-between;
				align-items: flex-start;
				& .slider{
					max-width: 805px;
					height: 523px;

				}
				& .text-block{
					border-top: 2px solid rgb(211,210,213);
					padding-top: 22px;
					margin-right: 27px;
					min-width: 265px;

					& p{
						& span{
							font-size: 1.1*$font-size;
							line-height: 1.5;
							font-family: $contax-sans-regular-stack;
							letter-spacing: 0.2px;
							color: $color-green-blue;
						}
						& br{
							line-height: 0;
						}
						max-width: 312px;
					}
				}
			}
			& .row-2{
				display: flex;
				flex-flow: row wrap;
				padding-left:0;
				justify-content: flex-start;
				align-items: flex-start;
				margin-top: 60px;

				width: 100%;
				& > div:first-of-type{
					flex: 0 1 805px;
					margin-right: 2vw;
				}
				& > div:nth-of-type(3){
					margin-top: 60px;
					max-width: 805px;
					flex: 0 1 805px;
					display: flex;
					justify-content: flex-end;
					& .slider{
						max-width: 657px;
					}
				}
				& .text-block{
					height: 615px;
					& p{
						max-width: 312px;
					}
				}
			}
			& .row-3, .row-5, .row-9, .row-12{
				margin-top: 60px;
			}
			& .row-4{

				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& .text-block{
					margin-right: 4vw;
					flex-shrink: 1;
					& p{
						max-width: 277px;
						& span{
							font-size: 2.25*$font-size;
							line-height: 1;
							font-family: $contax-sans-regular-stack;
		  					color: $color-dark;
		  					margin-bottom: 20px;
						}
					}

				}
				& .slider{
					max-width: 645px;
					height: 824px;
					flex-shrink: 3;
				}
				& .gap:nth-of-type(1){
					flex:0 5 135px;

				}
				& .gap:last-of-type{
					flex: 0 8 250px;
				}
			}
			& .row-6{

				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& .slider{
					max-width: 645px;
					flex-shrink: 0;
				}
				& .gap:nth-of-type(1){
					flex:0 1 135px;
				}
				& .gap:last-of-type{
					flex: 0 2 474px;
				}
			}
			& .row-7{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& .slider{
					max-width: 645px;
					height: 1031px;
					flex-shrink: 0;
				}
				& .gap:nth-of-type(1){
					flex:0 1 470px;
				}
				& .gap:last-of-type{
					flex: 0 2 135px;
				}
			}
			& .row-8{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& .slider{
					max-width: 645px;
					flex-shrink: 0;
				}
				& .gap:nth-of-type(1){
					flex:0 1 135px;
				}
				& .gap:last-of-type{
					flex: 0 2 457px;
				}
			}

			& .row-10{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& .text-block{
					flex-shrink: 1;
					padding-right: 6%;
					& p{
						max-width: 300px;
						& span{
							font-size: 2.25*$font-size;
							line-height: 1;
							font-family: $contax-sans-regular-stack;
		  					color: $color-dark;
		  					margin-bottom: 20px;
		  					white-space: nowrap;
						}
					}

				}
				& .slider{
					margin-right: 3vw;
					max-width: 850px;
					flex-shrink: 1;
				}
				& .gap:nth-of-type(1){
					flex:0 5 30px;
				}
				& .gap:last-of-type{
					flex: 0 9 60px;
				}
			}
			& .row-11{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& .slider{
					max-width: 683px;
					flex:auto;
				}
			}

			& p.title{
				max-width: 784px;
				color: $color-purpley-grey;
				font-size: 1.2*$font-size;
				line-height: 1.2$leading;
				font-family: $contax-sans-regular-stack;
				margin-bottom: 40px;
				padding-top: 10px;
				border-top: 2px solid $color-purpley-grey;
			}

		}
	}
}
#project-content-s {
	margin-top: $project-content-margin-top;

	p {
		font-family: $inconsolata-stack;
		font-size: $font-size;
		font-weight: $regular;
		line-height: 1.625;
		color: $color-grey-reading;
	}

	& .main-wrapper {
		& .grid-container {
			width: 100%;
			position: relative;
			margin: 0 auto;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;

			& .row-1 {
				width: 100%;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: flex-start;

				& > div:nth-of-type(1) {
					max-width: 693px;
					height: 540px;

					position: relative;
					flex: auto;
					width: 100%;

					& .slider-frame {
						width: 100%;
						overflow: hidden;
					}
				}

				& > div:nth-of-type(2) {
					flex: 0 10 114px;
					min-width: 2%;
				}

				& > div:nth-of-type(3) {
					flex-shrink: 0;

					& p {
						max-width: 425px;
						padding-right: 17px
					}
				}
			}

			& .row-2 {
				width: 100%;
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				margin-top: $project-content-margin-top;

				& > div:nth-of-type(1) {
					flex: 0 1 calc(100% - 560px);
					& p{
						margin: 0 auto;
						max-width: 425px;
					}
				}
				& > div:nth-of-type(2){
					max-width: 560px;
					flex: 0 1 560px;
					height: auto;
					& > *{
						height: auto;
					}
				}
				& > div:nth-of-type(3){
					flex:0 1 calc(100% - 560px);
					margin-top: -380px;
    			max-height: 285px;
					& .slider{
						margin: 0 auto;
						max-width: 537px;
					}
				}
				& > div:nth-of-type(4){
					flex:0 1 calc(100% - 565px);
					margin-top: -30px;
					max-height: 434px;
					& .slider{
						max-width: 694px;
					}
				}
				& > div:nth-of-type(5){
					margin-top: 90px;
					// margin-left: 6px;
					margin-left: auto;
					margin-right: auto;
					& p{
						max-width: 425px;
					}
				}
				& > div:nth-of-type(6){
					display: none;
					& p {
						max-width: 340px;
						&:last-of-type {

						}
					}
				}
			}
			& .row-3{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& > div:nth-of-type(1){
					flex:0 1 247px;
				}
				& > div:nth-of-type(2){
					max-width: 986px;
					flex-shrink: 0;
				}

				& > div:nth-of-type(3){
					flex: 0 1 133px;
				}
			}
			& .row-4{
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-around;
				margin-top: 60px;
				& > div:nth-of-type(1){
					max-width: 630px;
					margin-right: 4%;
				}

				& > div:nth-of-type(2){
					max-width: 630px;
				}
			}
			&  .row-5{
				margin-top: 60px;
			}
		}
	}
}
#featured-alumna{
	overflow:hidden;
	& .main-wrapper{
		& > p.header-credit{
			position: relative;
	    	margin: 0px auto 30px auto;
			font-size: $font-size * 1.5;
			line-height: $leading;
			font-family: $work-sans-stack;
			font-weight: $light;
			text-align: center;
		}
		& .grid-container{
			width: 100%;
			position: relative;
			margin: 0 auto;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
			& .row-1{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;
				align-items: flex-start;
				& > .slider{
					max-width: 518px;

					flex-shrink: 1;
				}
				& > div:nth-of-type(1){
					flex:0 9 136px;
				}
				& > .text-block{
					border-top: 2px solid rgb(211,210,213);
					padding-top: 22px;
					column-count: 2;
					-webkit-column-count: 2;
					flex-shrink: 1;
					margin-right: 4%;
					& p{
						max-width: 312px;
						& span{
							font-size: 1.1*$font-size;
							line-height: 1.5;
							font-family: $contax-sans-regular-stack;
							letter-spacing: 0.2px;
		  					color: $color-green-blue;
						}
						& br:first-of-type{
							line-height: 0;
						}

					}
				}
			}
			& .row-2{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& > div:nth-of-type(1){
					flex:0 5 136px;
				}
				& > .text-block{
					flex-shrink: 1;
					& p{
						max-width: 300px;
						& span{
							font-size: 2.25*$font-size;
							line-height: 1;
							font-family: $contax-sans-regular-stack;
		  					color: $color-dark;
		  					margin-bottom: 20px;
		  					white-space: nowrap;
						}
					}

				}
				& > .slider{
					margin-right: 1%;
					max-width: 876px;
					flex-shrink: 1;
					height: auto;
				}

				& > div:last-of-type{
					flex: 0 9 10px;
				}
			}
			& .row-3{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& > div:nth-of-type(1){
					flex:0 1 246px;
				}
				& > div:nth-of-type(2){
					max-width: 874px;
					flex-shrink: 0;
				}

				& > div:nth-of-type(3){
					flex: 0 1 246px;
				}
			}
			&  .row-6, .row-12{
				margin-top: 60px;
			}
			& .row-4{

				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& > div:nth-of-type(1){
					flex:0 1 136px;
				}
				& > div:nth-of-type(2){
					flex: 0 0 494px;
					flex-shrink: 0;
					height: 690px;
					margin-right: 3.5%;
				}
				& > div:nth-of-type(3){

					flex: 0 0 307px;
					flex-shrink: 0;
					height: 436px;
					margin-right: 3.5%;
				}
				& > div:nth-of-type(4){
					display: none;
				}
				& > div:nth-of-type(5){
					flex: 0 0 316px;
					flex-shrink: 0;
					height: 436px;

				}
				& > div:nth-of-type(6){
					display: none;
				}
			}
			& .row-5{

				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-end;
				align-items: flex-end;
				margin-top: -190px;

				& > div:nth-of-type(1){
					max-width: 626px;
					flex-shrink: 0;

					margin-right: 5%;
				}
				& > div:nth-of-type(2){
					max-width: 545px;
					height: 675px;
					flex-shrink: 0;

				}
				& > div:nth-of-type(3){
					flex:0 1 136px;
				}
			}

			& .row-7{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& > div:nth-of-type(1){
					flex:0 12 136px;
				}
				& > .text-block{
					flex-shrink: 1;
					& p{
						max-width: 312px;
						& span{
							font-size: 2.25*$font-size;
							line-height: 1;
							font-family: $contax-sans-regular-stack;
		  					color: $color-dark;
		  					margin-bottom: 20px;
		  					white-space: nowrap;
						}
					}

				}
				& > .slider{
					margin-right: 8%;
					max-width: 650px;
					flex-shrink: 1;
				}

				& > div:last-of-type{
					flex: 0 5 136px;
				}
			}
			& .row-8{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-end;

				margin-top: 60px;
				& > div:nth-of-type(1){
					flex:0 10 240px;
				}
				& > .slider{
					max-width: 1120px;
					flex-shrink: 0;
				}
			}
			& .row-9{
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;

				margin-top: 60px;
				& > div:nth-of-type(1){
					flex:0 5 136px;
				}
				& > div:nth-of-type(2){
					flex: 0 1 300px;
					margin-right: 9%;
					& p{
						max-width: 300px;
						& span{
							font-size: 2.25*$font-size;
							line-height: 1;
							font-family: $contax-sans-regular-stack;
		  					color: $color-dark;
		  					margin-bottom: 20px;
		  					white-space: nowrap;
						}
					}

				}

				& > div:nth-of-type(3){
					height: 320px;
					flex: 0 1 650px;
					flex-shrink: 0;
					& > *{
						height: auto;
					}
				}

				& > div:nth-of-type(4){
					display: none;
				}
				& > div:nth-of-type(5){
					height: 660px;
					max-width: 522px;
					flex-shrink: 0;
				}
			}
			& .row-10{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& > div:nth-of-type(1){
					flex:0 15 136px;
				}
				& > div:nth-of-type(2){
					max-width: 1094px;
					flex-shrink: 0;
				}

				& > div:nth-of-type(3){
					flex: 0 15 136px;
				}
			}
			& .row-11{

				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: space-between;

				margin-top: 60px;

				& > div:nth-of-type(1){
					max-width: 31%;
					flex-shrink: 1;
					height: auto;
				}
				& > div:nth-of-type(2){
					max-width: 31%;
					flex-shrink: 1;
					height: auto;

				}
				& > div:nth-of-type(3){
					max-width: 31%;

					flex-shrink: 1;
					height: auto;

				}
			}
			& .row-12{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& > div:nth-of-type(1){
					flex:0 1 136px;
				}
				& > div:nth-of-type(2){
					max-width: 873px;
					flex-shrink: 0;
				}

				& > div:nth-of-type(3){
					flex: 0 1 359px;
				}
			}
			& .row-13{
				display: flex;
				flex-flow: row nowrap;
				align-self: stretch;
				justify-content: flex-start;

				margin-top: 60px;
				& > div:nth-of-type(1){
					flex:0 1 468px;
				}
				& > div:nth-of-type(2){
					max-width: 762px;
					flex-shrink: 0;
				}

				& > div:nth-of-type(3){
					flex: 0 2 136px;
				}
			}

			& p.title{
				max-width: 784px;
				color: $color-purpley-grey;
				font-size: 1.2*$font-size;
				line-height: 1.2$leading;
				font-family: $contax-sans-regular-stack;
				margin-bottom: 40px;
				padding-top: 10px;
				border-top: 2px solid $color-purpley-grey;
			}

		}
	}
}
#academic-text .main-wrapper{
	& > p.header-credit{
    	margin: 0px auto 40px auto;
		color: $color-slate-grey;
		font-size: 2*$font-size;
		line-height: $leading;
		font-family: $work-sans-stack;
		font-weight: $light;
		text-align: center;
	}
	& .grid-container{
		width: 100%;
		position: relative;
		margin: 0 auto;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: center;

		& .row-1{
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;

			& .slider{

				&:first-of-type{
					margin-right: 60px;
					flex: 0 1 520px;

				}
				&:last-of-type{
					flex: 0 1 520px;
				}

			}
		}
		& .row-2{

			margin-top: 60px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;

			& .text-block{
				max-width: 90%;
				flex: 0 1 755px;
				& > p{
					padding-right: 100px;
				}
			}
		}
		& .row-3{
			margin-top: 60px;
			display: flex;
			justify-content: flex-end;
			flex-flow: row nowrap;
			& .slider{
				flex:0 1 770px;
			}
			& .gap{
				flex: 0 5 134px;
			}
		}
		& .row-4{
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			margin-top: 60px;
			& .text-block{
				max-width: 90%;
				column-count: 2;
				-webkit-column-count: 2;
				column-gap: 35px;
				& p{
					max-width: 414px;
				}

			}
		}
		& .row-5{
			display: flex;
			flex-flow: row nowrap;
			margin-top: 60px;
			align-items: flex-start;
			& .text-block{
				flex: 0 1 336px;
				& p{
					&:not(:first-of-type){
						margin-top: 15px;
					}
				}
				margin-right: 4%;
			}
			& .slider{
				flex: 0 1 784px;
				margin-right: 4%;
			}
		}
		& .row-6{
			display: flex;
			flex-flow: row nowrap;
			margin-top: 60px;
			justify-content: flex-end;
			& > div:nth-of-type(1){
				flex: 0 5 134px;
			}
			& > .text-block{
				flex: 0 2 524px;
				margin-left: 4%;
			}
			& > .slider{
				flex: 0 1 400px;
				margin-left: 5%;
				margin-right: 4%;
			}
			& > div:nth-of-type(4){
				flex: 0 5 134px;
			}
		}
		& .row-7{
			display: flex;
			flex-flow: row nowrap;
			margin-top: 60px;
			justify-content: flex-start;
			& > div:nth-of-type(1){
				flex: 0 2 134px;
			}
			& > div:nth-of-type(4){
				flex: 0 2 134px;
			}
			& > .text-block{
				flex: 0 1 528px;
				margin-right: 4%;
			}
			& .slider{
				flex: 0 1 426px;
				margin-right: 8%;
			}
		}
		& .row-8{
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			margin-top: 60px;
			& > div:nth-of-type(1){
				flex: 0 4 160px;
			}
			& > div:nth-of-type(4){
				flex: 0 4 134px;
			}
			& > .text-block{
				flex: 0 1 368px;
				margin-right: 6%;
				margin-left: 4%;
			}
			& > .slider{
				flex: 0 1 538px;
				margin-top: -20%;
			}
		}
		& .row-9{
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			margin-top: 60px;
			& > .text-block{
				flex: 0 1 365px;
				margin-right: 4%;
			}
			& > .slider{
				flex: 0 2 560px;
				margin-top: -20%;
				margin-right: 10%;
			}
			& > div:nth-of-type(3){
				flex: 0 3 300px;
			}
		}
		& .row-10{
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
			margin-top: 60px;
			& > div:nth-of-type(1){
				flex: 0 3 200px;
			}
			& .text-block{
				flex: 0 1 414px;
				margin-left: 4%;
				margin-right: 10%;
			}
			& .slider{
				margin-top: -33%;
				flex: 0 1 560px;
			}
		}
		& .row-11{
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			margin-top: 60px;
			& > .text-block{
				flex: 0 1 414px;
				margin-left: 4%;
				margin-top: -18%;
				& > p:first-of-type{
					color: $color-dark;
					font-size: 1.2*$font-size;
					line-height: 1.2$leading;
					font-family: $contax-sans-regular-stack;
					margin-bottom: 25px;

				}
			}
			& > div:nth-of-type(1){
				flex: 0 5 200px;
			}
			& > div:nth-of-type(3){
				flex: 0 2 calc( 560px + 10%);
			}
		}
		& .row-12{
			display: flex;
			flex-flow: row nowrap;
			margin-top: 60px;
			justify-content: flex-start;
			& .text-block{
				flex: 0 1 650px;
				margin-left: 4%;
				margin-right: 4%;
			}
			& > div:nth-of-type(1){
				flex: 0 7 190px;
			}
			& > div:nth-of-type(3){
				flex: 0 5 395px;
			}
		}
		& .row-13{
			display: flex;
			flex-flow: row nowrap;
			margin-top: 60px;
			justify-content: center;
			& .slider{
				max-width: 860px;
			}
		}
		& .row-14{
			margin-top: 60px;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			margin-right: 4%;
			margin-left: 4%;
			& .text-block{
				max-width: 860px;
			}

		}
		& .row-15{
			margin-top: 60px;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			margin-right: 4%;
			margin-left: 4%;
			& .text-block{
				max-width: 860px;
				& p{
					& span:first-of-type{
						padding-right:10px;
						&:after{
							content: ".";
						}
					}
				}
			}
		}
		& p.title{
			width: 100%;
			color: $color-purpley-grey;
			font-size: 1.2*$font-size;
			line-height: 1.2* $leading;
			font-family: $contax-sans-regular-stack;
			margin-bottom: 40px;
			margin-right: 4%;
			margin-left: 4%;
			border-top: 2px solid $color-purpley-grey;
		}

	}
}
#authors-bio-section{
	background-color: $color-turquoise-green;
	margin-top:146px;
	& .main-wrapper{
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		& p:nth-of-type(1){
			margin-left: 10%;
			color: $color-dark;
			font-size: 3.4*$font-size;
			line-height: 1;
			font-family: $contax-sans-regular-stack;
			margin-top: -25px;
		}
		& p:nth-of-type(2){
			margin-left: 10%;
			color: $color-white;
			font-size: 1.5*$font-size;
			line-height: 1.5;
			font-family: $work-sans-stack;
			font-weight: $regular;

		}
		& p:nth-of-type(3){
			color: $color-dark;
			font-size: 1*$font-size;
			line-height: 1.5;
			font-family: $contax-sans-regular-stack;
			margin-top: 10px;
			align-self:center;
			max-width: 745px;
			margin-top: 30px;
			margin-bottom: 36px;
		}
	}
}

#past-issues {
	margin-bottom: 100px;
	padding: 0 135px;

	.main-wrapper {
		display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
	}

	.issue {
		flex-basis: 48%;
		display: flex;
		flex-direction: row;
		margin-bottom: 25px;

		img {
			height: 165px;
			width: auto;
		}

		.issue-text-container {
			margin-left: 20px;
			h1 {
				font-family: $youngserif-stack;
				font-size: 28px;
				line-height: 1.25;
				letter-spacing: -0.16px;
				color: $color-sky-blue
			}
			p {
				margin-top: 5px;
				font-family: $inconsolata-stack;
				font-size: 18px;
				font-weight: $bold;
				line-height: 1.44;
				letter-spacing: 0.5px;
				color: $color-grey-reading;
			}
		}
	}
}

#awards-recognitions .main-wrapper {
	& .grid-container {
		position: relative;
		display: flex;
		margin: 0 auto;
		margin-bottom: 120px;
		flex-flow: column nowrap;
		max-width: 880px;

		& .award {
			width: 100%;
			margin-bottom: 50px;
			position: relative;

			& .award-top-component-container {
				display: flex;
				flex-direction: row;
				height: 255px;
				margin-bottom: 20px;

				& .award-top-box-container.news {
					border: solid 5px #c9e0f1;
					background-color: rgba(255, 255, 255, 0.9);

					& .award-top-box-text-container.news {
						// hyphens: auto;
					}
					& .award-top-box-icon-container.news {
						& img {
							width: 51px;
							height: 46px;
							object-fit: contain;
						}
						& span {
							transform: rotate(-90deg) translate(-15px, 0);
						}
					}
				}

				& .award-top-box-container {
					display: flex;
					flex-direction: row;
					width: 35%;
					border: solid 5px $color-sky-blue;
					background-color: #e3eff8;
					padding: 30px 40px 30px 30px;

					& .award-top-box-text-container {
						margin-right: 35px;

						& h2 {
							font-family: $youngserif-stack;
							font-size: 28px;
							font-weight: $regular;
							line-height: 1.25;
							letter-spacing: -0.16px;
							color: $color-dark;
						}
					}

					& .award-top-box-icon-container {
						width: 36px;

						& img {
							width: 36px;
							height: 58px;
							object-fit: contain;
						}
						span {
							display: inline-block;
							font-family: $inconsolata-stack;
							font-size: 20px;
							font-weight: $bold;
							letter-spacing: 2px;
							color: $color-sky-blue;
							transform: rotate(-90deg) translate(-15px, -38%);
						}
					}
				}

				& .award-image-container {
					height: 100%;
					width: 65%;

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}
			}

			& .award-bottom-component-container {
				& .recipient-text {
					font-family: $inconsolata-stack;
					font-size: 18px;
					font-weight: $regular;
					color: $color-sky-blue;
				}
				& .recipient-name-text {
					margin-top: 5px;
					font-family: $youngserif-stack;
					font-size: 22px;
					font-weight: $regular;
					line-height: 1.36;
					letter-spacing: -0.12px;
					color: #514d58;
					margin-bottom: 15px;
				}
				& .recipient-content-text {
					font-family: $inconsolata-stack;
					font-size: 18px;
					font-weight: $regular;
					line-height: 1.5;
					color: $color-grey-reading;
				}
			}
		}
	}
}

#credits {
	padding: 0 135px;
}

#credits .main-wrapper {
	margin-top: 120px;
	margin-bottom: 120px;

	& .credit-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		& .credit {
			flex-grow: 1;
  		flex-basis: 30%;
			margin-bottom: 50px;
			margin-left: 1%;
			margin-right: 1%;

			p {
				font-family: $inconsolata-stack;
				font-size: 18px;
				font-weight: $bold;
				line-height: 1.44;
				color: $color-grey-reading;
				margin-bottom: 10px;
			}
			a {
				color: $color-sky-blue !important;
				&:hover {
					text-decoration: underline !important;
				}
			}
			h2, a {
				font-family: $youngserif-stack;
				font-size: 28px;
				font-weight: $regular;
				line-height: 1.25;
				letter-spacing: -0.16px;
				color: $color-dark;
				text-decoration: none;
			}
		}
	}
}
.clear {
	clear: both;
}
