header {
  	background: {
      repeat: no-repeat;
      size: cover;
      position: center center;
      color: $color-white;
      origin: border-box;
      clip: border-box;
      attachment: scroll;
  	}

    position: relative;
    z-index: 500;
    margin: 0px auto;
    height: $header-height-full;
    &.fixed-height-750 {
      height: $header-height-fixed-750;
    }
    &.fixed-height-400,&.fixed-height {
      height: $header-height-fixed-400;
    }
    width: 100%;
    // overflow: hidden;

    & img {
      position: absolute;
      z-index: 500;
      object-fit: cover;
      // object-position: 50% 50%;
      object-position: bottom;
      width:100%;
      height:100%;
    }
    & > .main-wrapper{
      height: 100%;
    }
    // & .right-nav{
    //   z-index: 505;
    //   position: absolute;
    //   right: 0px;
    //   height: 100%;
    //   width:30px;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   resize: vertical;
    //   & .nav-controls{
    //     position: relative;
    //     right: 20px;
    //     height: 30px;
    //     width: 30px;
    //     resize: vertical;
    //     background:{
    //       image: $right-nav-arrow-image-src;
    //       repeat: no-repeat;
    //       position: center center;
    //       size:contain;
    //     }
    //     &:hover{
    //       background:{
    //         image: $right-nav-arrow-hover-image-src;
    //         repeat: no-repeat;
    //         position: center center;
    //       }
    //     }
    //     cursor: pointer;
    //   }
    // }
    //
    // & .left-nav{
    //   z-index: 505;
    //   position: absolute;
    //   left:0px;
    //   height: 100%;
    //   width:30px;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   resize: vertical;
    //   & .nav-controls{
    //     position: relative;
    //     left: 20px;
    //     height: 30px;
    //     width: 30px;
    //     resize: vertical;
    //     background:{
    //       image: $left-nav-arrow-image-src;
    //       repeat: no-repeat;
    //       position: center center;
    //       size:contain;
    //     }
    //     &:hover{
    //       background:{
    //         image: $left-nav-arrow-hover-image-src;
    //         repeat: no-repeat;
    //         position: center center;
    //       }
    //     }
    //     cursor: pointer;
    //   }
    // }
    & .bottom-nav{
      z-index: 510;
      position: absolute;
      bottom: 0px;
      left:0px;
      height: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      & .nav-controls{
        resize: vertical;
        height: 40px;
        width: 40px;
        cursor: pointer;
        background: {
          image: $bottom-nav-arrow-image-src;
          repeat: no-repeat;
          position: center center;
          size: contain;
        }
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

        &:hover {
          transform: scale(1.2,1.2);
        }
      }
    }
}

.header-wrapper{
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  // & > div:nth-of-type(1){
  //   flex: 0 1 126px;
  // }
  // & > div:nth-of-type(3){
  //   flex: 0 1 630px;
  // }
  .header-container{
    flex-shrink: 0;
    position: relative;
    text-align: center;

    & > .school-name{
      font-family: $inconsolata-stack;
      font-size: $font-size * 1.625;
      font-weight: $bold;
      line-height: 1;
      color: $color-dark;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      text-shadow: 0 0 14px rgba(255, 255, 255, 0.5);
      // margin-bottom: 20px;
    }
    & > .edition-name{
      font-family: $youngserif-stack;
      font-size: $font-size * 6.25;
      font-weight: $regular;
      line-height: 1.14;
      letter-spacing: -0.22px;
      color: $color-dark;
    }
    & > .edition-info{
      font-family: $inconsolata-stack;
      font-size: $font-size * 2;
      font-weight: $regular;
      line-height: 1;
      letter-spacing: -0.6px;
      color: $color-dark;
      white-space: nowrap;
      margin-top: 40px;
      text-shadow: 0 0 14px rgba(255, 255, 255, 0.5);
    }
  }
  .student-header-container{

    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50vh;
    width: 5*$full-column - $split-gutter-width;
    margin-left: $full-column + $split-gutter-width;
    & .student-header-panel{
      position: absolute;
      right: 0;

    }
  }
}

nav {
  width: 100%;
  height: 78px;
  position: absolute;
  top: 0px;
  left: 0px;

  & .sticky-background{
    position: fixed;
    display: flex;
    flex-flow: row  nowrap;
    justify-content: strech;

    z-index: 490;
    width: 100%;
    height: 78px;
    width:100%;
    height: 78px;
    background:{
      color: $color-duck-egg-blue-t;
    }
    & .right-nav{
      z-index: 540;
      position: absolute;
      right: 0px;
      height: 100%;
      width:30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      resize: vertical;
      & .nav-controls{
        position: relative;
        right: 20px;
        height: 30px;
        resize: vertical;
        background:{
          image: $black-right-nav-arrow-image-src;
          repeat: no-repeat;
          position: center center;
          size:contain;
        }
        &:hover{
          background:{
            image: $right-nav-arrow-hover-image-src;
            repeat: no-repeat;
            position: center center;
          }
        }
        cursor: pointer;
      }
    }

    & .left-nav{
      z-index: 540;
      position: absolute;
      left:0px;
      height: 100%;
      width:30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      resize: vertical;
      & .nav-controls{
        position: relative;
        left: 20px;
        height: 30px;
        resize: vertical;
        background:{
          image: $black-left-nav-arrow-image-src;
          repeat: no-repeat;
          position: center center;
          size:contain;
        }
        &:hover{
          background:{
            image: $left-nav-arrow-hover-image-src;
            repeat: no-repeat;
            position: center center;
          }
        }
        cursor: pointer;
      }
    }
  }
}

.menu-panel{
  // width: 80%;
  position: fixed;
  height: 40px;
  top: 0;
  left: $menu-panel-left;
  text-align: center;
  z-index: 520;

  background:{
    color: transparent;
  }
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  //height: 100%; when menu comes in
  &.open {

  }
}

.menu-controls {
  line-height: 40px;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  z-index: 530;
  width: 176px;
  height: 40px;
  display: flex;
  flex-direction: row;
  color: $color-dark;

  font-family: $youngserif-stack;
  font-weight: $regular;
  color: $color-white;
  text-transform: capitalize;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

  &.open {
    transform: translateX(-$menu-panel-left - (176px - 45px));
  }

  & .menu-text-button {
    display: inline-block;
    width: 86px;
    height: 40px;
    background-color: $color-sky-blue;
    margin: 0 5px;
    cursor: pointer;

    &.submenu-open {
      background-color: $color-white;
      color: $color-sky-blue;
    }
  }

  & .menu-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: $color-sky-blue;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

    &.open {
      opacity: 0;
    }
  }

  & .menu-button.left {
    background:{
      image: $bottom-nav-arrow-image-src;
      repeat: no-repeat;
      position: center center;
      size: contain;
    }
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);

    &.open {
      opacity: 0;
    }
  }

  & .menu-button.right {
    background:{
      image: $bottom-nav-arrow-image-src;
      repeat: no-repeat;
      position: center center;
      size: contain;
    }
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }


  &.white {
    color: $color-white;
    transition: none;
  }
  &.black {
    color: $color-dark;
    transition: none;
    &:before {
      background-color: $color-dark;
    }
    &:after {
      background-color: $color-dark;
    }
  }

  &.white:before,&.white:after {
    background-color: $color-white;
  }

}

.menu-content {
  position: absolute;
  overflow: scroll;
  display: none;

  padding: {
    top: 70px;
    bottom: 70px;
  }
  top: 0px;
  left: -$menu-panel-left;
  width: $menu-content-width;
  height: 100vh;
  z-index: 525;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: $color-white;

  &.open {
    display: block;
    background-color: $color-white;
    transform: translateX(-$menu-content-width);
    box-shadow: 0 4px 10px 0 rgba(37, 32, 46, 0.13);
    outline: 5px solid #a9cce6;
  }

  &.submenu-open {
    background-color: $color-sky-blue;
  }
}

.menu-grid {
  padding: 0 65px;
  position: relative;
  top: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: flex-start;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

  &.close {
    display: none;
    opacity: 0;
  }
  & .menu-item:nth-child(2n){
    flex-basis: 45%;
  }

  & .menu-item{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 40px;
    text-align: left;

    &.empty{
      height: 0;
    }
    & a {
      font-family: $youngserif-stack;
      font-weight: $regular;
      font-size: $font-size * 2;
      color: $color-dark;
      line-height: 1;
      text-decoration: none;

      &:hover{
        color: $color-sky-blue;
      }
    }
    & .design-work-button {
        position: absolute;
        left: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-color: $color-sky-blue;

        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

        background:{
          image: $sub-menu-image-src;
          repeat: no-repeat;
          position: 50% 50%;
          size: contain;
        }
        &:hover{
          transform: scale(1.2,1.2);
        }
    }
  }
}

.sub-menu-grid{
  // max-width: $wrapper-full-width;
  // margin: 0 auto;
  // transition: opacity 800ms 0ms,display 0ms 0ms;

  padding: 0 45px 70px 45px;
  display: flex;
  opacity: 1;
  flex-flow: column;

  &.close {
    display: none;
    opacity: 0;
  }

  .sub-menu-title {
    align-self: flex-start;
    margin-bottom: 45px;
    margin-top: -40px;

    & span {
      font-family: $youngserif-stack;
      font-weight: $regular;
      font-size: 36px;
      color: #FFF;
    }
  }

  & .back-nav {
    position: sticky;
    top: 0;
    left: 0;
    transform: translate(-45px, -70px);

    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: $color-white;
    background: {
      image: $sub-menu-arrow-back-image-src;
      repeat: no-repeat;
      position: center center;
      size: contain;
    }
  }

  & .sub-item-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
    // cursor: pointer;

    & .sub-item {
      display: flex;
      flex-direction: row;

      & img {
        width: 50px;
        height: 50px;
        object-fit: contain;
      }

      & .sub-item-content {
        margin-left: 15px;
        text-align: left;

        & p {
          font-family: $youngserif-stack;
          font-weight: $regular;
          font-size: 24px;
          line-height: 1.17;
          color: $color-white;
        }

        & span {
          font-family: $inconsolata-stack;
          font-weight: $regular;
          font-size: 24px;
          line-height: 1.17;
          color: $color-light-blue;
        }
      }

    }

  }

}
